* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
}

.page-title {
    margin: 1.2rem 0;
}


.recipe-book-link {
    list-style: none;
}

.recipe-book-header:hover {
    list-style: none;
    background-color: rgba(206, 195, 149, 0.52);
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:link {
    color: inherit;
}

.recipe-book-container {
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;  
    margin:  0.5rem 2rem;
    padding: 0 2rem;
}

.recipe-pictures {
    margin: auto 0;
}

.recipe-book-page {
    display: flexbox;
    flex-direction: column;
    padding: 0rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(252, 240, 200, 0.8);
    min-height: 90vh;
    width: 80vh;
    border: 1px solid black;
    border-radius: 1.3em;
    box-shadow:
    1px 0px 0px 1px rgba(252, 240, 200, 0.8),
    1.5px 0px 0px 1.5px rgba(0, 0, 0, 0.9),
    3px 0px 0px 3px rgba(252, 240, 200, 0.8),
    3.5px 0px 0px 3.5px rgba(0, 0, 0, 0.9),
    5px 0px 0px 5px rgba(252, 240, 200, 0.8),
    8px 0px 0px 8px #911F27; 
}

.font-center {
    text-align: center;
}

.recipe-book-page-left {
    box-shadow:
    -1px 0px 0px 1px rgba(252, 240, 200, 0.8),
    -1.5px 0px 0px 1.5px rgba(0, 0, 0, 0.9),
    -3px 0px 0px 3px rgba(252, 240, 200, 0.8),
    -3.5px 0px 0px 3.5px rgba(0, 0, 0, 0.9),
    -5px 0px 0px 5px rgba(252, 240, 200, 0.8),
    -8px 0px 0px 8px #911F27;  
    border-right: 0.5px solid rgba(0, 0, 0, 0.3);
}

.recipe-book-page-right {
    display: flex;
    border-left: 0.5px solid rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 140%;
}

.recipe-image {
    background-color: black;
    padding: 0;
    display: block;
    margin:  auto;
    height: auto;
    max-width: 400px;
    border-radius: 1em;
    border: 4px solid black;
}

.recipe-image-small {
    display: block;
    max-width: 300px;
    height: auto;
    margin-bottom: 1.5rem;
    border: 4px solid black;
    transition: opacity 0.4s;
}

.recipe-book {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom-color: transparent;
    border-right: transparent;
    border-left: transparent;
}

.recipe-book-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

.recipe-book-header {
    display: flex;
    cursor: pointer;
}

.recipe-book-title, .recipe-book-index {
    flex: 1;
    padding: .5rem 1.2rem;
    transition: background-color 0.5s;
}

.recipe-book-content {
    display: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

.recipe-description {
    margin-top: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem; 
    font-size: 120%;   
}

.recipe-ingredient {
    margin: 0.5rem 1.2rem;
    line-height: 2rem;
    font-size: 130%;
}


.ingredients-list {
    columns: 2;
    padding-bottom: 1.2rem;
}

.recipe-credit {
    font-weight: 400;
}

.font-title {
    font-family: Ubuntu, sans-serif;
    font-style: normal; 
    color: rgb(34, 34, 34);
    width: 100%;
    padding: 1.2rem 0;
}

#credit {
    color: rgb(211, 11, 11);
}

#credit:hover {
    color: red;
}

h2.font-title {
    font-size: 180%;
    /* padding-top: 1rem */
}

.recipe-step {
    font-style: normal;
    font-size: 130%;
    padding-bottom: 1.2rem;
}


ol {
    margin:0 0 1.5em;
    padding:0;
    counter-reset:item;
}

ol > li {
  margin:0;
  padding:0 0 0 2em;
  text-indent:-2em;
  list-style-type:none;
  counter-increment:item;
}

ol > li:before {
    display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}

strong {
    font-weight: bold;
    font-style: normal;
}

#home {
    color: #555;
    font-size: 130%;
}

#home:hover {
    color: #111;
}

.recipe-image-small:hover {
    opacity: 80%;
}


.next-page {
    position: fixed;
    top: 50%;
    right: 2%;
    border-left: 12px solid #222;
    border-right: 12px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    transition: border-color 0.5s;
}

.prev-page {
    border-right: 12px solid #222;
    border-left: 12px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: fixed;
    top: 50%;
    left: 2%;
    transition: border-color 0.5s;
}

.next-page:hover {
    border-left: 12px solid crimson;
    cursor: pointer;
}

.prev-page:hover {
    border-right: 12px solid crimson;
    cursor: pointer;
}

.recipe-step-small {
    font-size: 1rem;
    padding-bottom: .2rem;
    padding-top: .2rem;
}

.recipe-credit {
    font-size: 130%;
}



@media (max-width: 1670px) {

    .recipe-book-page-left {
        box-shadow:
        0px -1px 0px 1px rgba(252, 240, 200, 0.8),
        0px -1.5px 0px 1.5px rgba(0, 0, 0, 0.9),
        0px -3px 0px 3px rgba(252, 240, 200, 0.8),
        0px -3.5px 0px 3.5px rgba(0, 0, 0, 0.9),
        0px -5px 0px 5px rgba(252, 240, 200, 0.8),
        0px -8px 0px 8px #911F27;  
        border-right: 0.5px solid rgba(0, 0, 0, 0.3);
    }

    .recipe-book-page-right {
        box-shadow:
        0px 1px 0px 1px rgba(252, 240, 200, 0.8),
        0px 1.5px 0px 1.5px rgba(0, 0, 0, 0.9),
        0px 3px 0px 3px rgba(252, 240, 200, 0.8),
        0px 3.5px 0px 3.5px rgba(0, 0, 0, 0.9),
        0px 5px 0px 5px rgba(252, 240, 200, 0.8),
        0px 8px 0px 8px #911F27;  
        border-right: 0.5px solid rgba(0, 0, 0, 0.3);
    }

}

@media (max-width: 600px) {
    .recipe-image {
        max-width: 70%;
        height: auto;
    }
}

@media (max-width: 450px) {
    .recipe-image {
        max-width: 70%;
    }

    .ingredients-list {
        columns: 1;
    }
}

